{% extends "base.html" %}

{% block content %}


  <div class="jumbotron">
    <p>Let see how you performed! </p>

    {% if upcase == True and lowcase == True and num == True %}

      <p>Your username : {{username}} passed the 3 requirements!</p>
    {%  elif upcase == False %}
      <li>You did not use a uppercase characte.</li>
    {%  elif lowcase == False %}
      <li>You did not use a lowercase character.</li>
    {%  elif num == False %}
      <li>You did not end your username with a number.</li>

    {% endif %}

  </div>

  <div class="jumbotron">
    <p>Let see how you performed! </p>
    <p>Oh no! Looks like you had issues with your username!</p>
    <p>Here are the requirements you failed :</p>
      <!-- <li>You did not use a uppercase characte.r</li>
      <li>You did not use a lowercase character.</li>
      <li>You did not end your username with a number.</li> -->

  </div>


{% endblock %}
