<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Website ! {{mylist}}</h1>

    <ul>
      {% for item in mylist %}
      <li>{{item}}</li>
      {%endfor%}
    </ul>

    <ul>
      {% for pup in puppies %}
      <li>{{pup}}</li>
      {%endfor%}
    </ul>

    {% if 'Rufus' in puppies%}
      <p> Found you Rufus </p>
    {% else %}
      <p>Hmm... Rufus is not in this list!</p>
    {% endif %}

    {% if user_logged_in%}
      <p>Welcome back , you're now logged in</p>
    {% elif some_other_condition %}
      <p>Use  case 2</p>
    {% else %}
      <p>Please log in</p>
    {% endif %}


  </body>
</html>
