{% extends "layout.html" %}
{% block content %}
  <form action="/charge" method="post">
    <article>
      <label>
        <span>Amount is $5.00</span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{public_key}}"
            data-description="Donation"
            data-name="Puppy Adoption"
            data-amount="1999"
            data-locale="auto"
            data-zip-code="true">
    </script>
  </form>
{% endblock %}
