{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">

    <p>Let's check your username</p>

    {% if report %}
      <p>Your username passedd all checks!</p>
    {% else %}
      <ul>
        {% if not lower_letter %}
          <li>You did not use a lowercase letter</li>
        {% endif %}
        {% if not upper_letter %}
          <li>You did not use a uppercase letter</li>
        {% endif %}
        {% if not num_end %}
          <li>You did not end in a number </li>
        {% endif %}
      </ul>
    {% endif %}

  </div>

{% endblock %}
